*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(12, 12, 12);
    color: #f6f6f6;
}

.title{
    text-align: center;
    font-size: 5vmin;
    padding: 30px;
    text-decoration: underline; 
}

.class_card{
    text-align: center;
    font-size: 3vmin;
    padding: 50px;
    border-radius: 2vmin;
    background-color: #c2c2c2;
    transition-property: transform, background-color, box-shadow;
    transition-duration: 150ms;
    a{
        display: block;
        text-decoration: none;
        color: rgb(12, 12, 12);
        &:hover{
            color: rgb(7, 7, 101);
        }
    }

    &:active{
        transform: scale(0.8);
    }

    &:hover{
        background-color: rgb(7, 7, 101);
        cursor: pointer;
        transform: scale(1.05);
        a{
            color: white;
        }
    }
}

.cards_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 3vmin;
    padding: 3vmin;
}